<!-- Bootstrap -->
    <link href="../../css/datatables.net/css/jquery.dataTables.min.css">
<!-- Datatables -->
    
    <link href="../../css/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->   

<!-- page content -->
<div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Empleados - AGREGAR</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      </li>
                      <li onclick="window.close();"><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                        <div class="history-table" style="width: 100%;">
                          <div class="col-sm-12">
							  <form id="form">
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Nombres</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="text" id="name" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="lastname">Apellidos</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="text" id="lastname" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="form-group item">
											<label class="col-form-label col-md-3 col-sm-3 label-align">Tipo de Documento</label>
											<div class="col-md-6 col-sm-6 ">
												<select class="form-control" required="required" id="docType">
													<option>Elija...</option>
													{{#each docTypes}}
													<option value="{{this.id}}">{{this.description}}</option>
													{{/each}}
												</select>
											</div>
									</div>
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="numDoc">Número de Documento</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="number" id="numDoc" required="required" class="form-control ">
		                            </div>
	                            </div>
                                  <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="dirStreet">Dirección</label>
			                        <div class="col-md-6 col-sm-6">
			                        <input type="text" id="dirStreet" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="phoneNumber">Teléfono</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="number" id="phoneNumber" required="required" class="form-control ">
		                            </div>
	                            </div>
                                 <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Email</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="email" id="email" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="date">Fecha de Nacimiento</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="date" id="date" required="required" class="form-control date">
		                            </div>
	                            </div>
                                <div class="ln_solid"></div>
								<div class="item form-group" style="display: flex; justify-content: center;">
										<div class="col-md-6 col-sm-9 offset-md-3">
											<button class="btn btn-danger" type="button" onclick="window.close()">Cancelar</button>
											<button class="btn btn-warning" type="reset">Reiniciar</button>
											<button type="submit" class="btn btn-success" onclick="addEmplooy()">Agregar</button>
										</div>
								</div>
								</form>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
</div>
<script src="../../js/addEmplooy.js"></script>
<script>
		function hideshow(){
			var password = document.getElementById("password");
			var slash = document.getElementById("slash");
			var eye = document.getElementById("eye");
			
			if(password.type === 'password'){
				password.type = "text";
				slash.style.display = "block";
				eye.style.display = "none";
			}
			else{
				password.type = "password";
				slash.style.display = "none";
				eye.style.display = "block";
			}

		}
	</script>
<script>
	const form = document.getElementById('form');

	const func = e => {
		e.preventDefault();
	};

	form.addEventListener('submit', func, true);
</script>