<link rel="stylesheet" href="../../css/footer.css">
<footer id="mobile-footer">
                  <div id="mobile-footer-container">
                    <div class="left-col">
                        <p class="lead text-center" style="color: #222;">
                            Cajero en turno: <span class="whois" style="color:rgb(0, 46, 197);" id="whois"></span>
                        </p>
                    </div>
                    <div class="navbar-right">
                        <span class="lead text-center date-sell" style="color: #222;"></span><span  class="lead text-center" style="color: #222;"> - </span></span> <span class="lead text-center hour-sell" style="color: #222;"></span>
                    </div>
                    
                  </div>
              </footer>