<link rel="stylesheet" href="../../css/navMenu.css">
<div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;" id="nav-main-logo">
              <a class="site_title"> <img src="../../images/M1990.png" alt="" class="logo-mercadito"> <span class="title-mercadito">ercado 1990</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="../../images/user.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>Administrador</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section active">
                  <h3>Modulos</h3>
                <ul class="nav side-menu" style="">
                  <li><a><i class="fa fa-shopping-cart"></i> Ventas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                      <li class="current-page"><a id="generate-sell-page">Generar venta</a></li>
                      <li><a id="load-orders-window">Pedidos</a></li>
                      <li><a id="view-history-page">Historial</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Ingresos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="buys-page">Cargar ingreso</a></li>
                      <li><a id="buys-history-page">Historial</a></li>
                      <li><a id="suppliers-page">Proveedores</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Estadisticas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="stats-page">General</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-question"></i> Consultas Ventas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="query-sells-page">Ventas Generales</a></li>
                      <li><a id="query-sells-detail-page">Ventas Detalladas</a></li>
                      <li><a id="query-sells-pending-page">Ventas Pendientes</a></li>
                      <li><a id="query-sells-cash-page">Ventas Contado</a></li>
                      <li><a id="query-sells-credit-page">Ventas Cuenta Corriente</a></li>
                      <li><a id="query-sells-customer-page">Ventas por Cliente</a></li>
                      <li><a id="query-sells-employee-page">Ventas por Empleado</a></li>
                      <li><a id="query-sells-employee-detail-page">Ventas por Empleado Detalladas</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-question"></i> Consultas Ingresos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a id="query-buys-page">Compras Generales</a></li>
                        <li><a id="query-buys-detail-page">Compras Detalladas</a></li>
                        <li><a id="query-buys-supplier-page">C. Generales Proveedor</a></li>
                        <li><a id="query-buys-supplier-detail-page">C. Detalles Proveedor</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-database"></i> Productos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a id="agregar-producto">Agregar Producto</a></li>
                        <li><a id="kardex-page">Kardex Valorizado</a></li>
                        <li><a id="stock-page">Stock de Productos</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-group"></i> Clientes <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="customers-page">Clientes</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-exchange"></i> Caja <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="cashregister-in-page">Entrada de dinero</a></li>
                      <li><a id="cashregister-out-page">Salida de dinero</a></li>
                      <li><a id="history-in-out-page">Historial E/S</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-wrench"></i> Mantenimiento <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="maintenance-page">General</a></li>
                      <li><a id="maintenance-branch-page">Sucursal</a></li>
                      <li><a id="maintenance-employees-page">Empleados</a></li>
                      <li><a id="maintenance-users-page">Usuarios</a></li>
                      <li><a id="maintenance-docs-page">Tipo de documentos</a></li>
                      <li><a id="maintenance-units-page">Unidades de Medida</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-server"></i> Seguridad <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="dump-page">Copia de seguridad</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" id="settings-button-footer" title="" data-original-title="Configuraciones">
                <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" id="fullscreen-button" title="" data-original-title="F11 - Pantalla Completa">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Bloquear Pantalla">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" id="logout-button-footer" title=""  data-original-title="Cerrar Sesión">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                <ul class=" navbar-right">
  
                  <li role="presentation" class="nav-item dropdown open">
                    <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-envelope-o"></i>
                      <span class="badge bg-green">3</span>
                    </a>
                    <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                      <li class="nav-item">
                        <a class="dropdown-item">
                          <span class="image"><img src="../../images/img.jpg" alt="Profile Image"></span>
                          <span>
                            <span>Empleado 1</span>
                            <span class="time">Hace 3 minutos</span>
                          </span>
                          <span class="message">
                            Solicitud de facturación del pedido N 1233
                          </span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="dropdown-item">
                          <span class="image"><img src="../../images/user.png" alt="Profile Image"></span>
                          <span>
                            <span>Empleado 2</span>
                            <span class="time">Hace 4 minutos</span>
                          </span>
                          <span class="message">
                            Apertura de cuenta corriente, cliente N 54
                          </span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="dropdown-item">
                          <span class="image"><img src="../../images/img.jpg" alt="Profile Image"></span>
                          <span>
                            <span>Empleado 1</span>
                            <span class="time">Hace 1 minuto</span>
                          </span>
                          <span class="message">
                            Informe de ventas semanal
                          </span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
      </div>
</div>
<script src="../../js/viewsLoader.js"></script>