<link rel="stylesheet" href="../../css/navMenu.css">
<div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;" id="nav-main-logo">
              <a class="site_title"> <img src="../../images/M1990.png" alt="" class="logo-mercadito"> <span class="title-mercadito">ercado 1990</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="../../images/user.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2 id="welcome-name"></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section active">
                  <h3>Modulos</h3>
                <ul class="nav side-menu" style="">
                  <li id="sells-menu"><a><i class="fa fa-shopping-cart"></i> Ventas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                      <li class="current-page"><a id="generate-sell-page" onclick="loadPageInMain('/sells/index.hbs')">Generar venta</a></li>
                      <li><a id="load-orders-window" onclick="ipcRenderer.send('load-orders-window');">Pedidos</a></li>
                      <li><a id="view-history-page" onclick="ipcRenderer.send('open-sells-history');">Historial</a></li>
                      <li><a id="sales-page" onclick="ipcRenderer.send('load-sales-page');">Ofertas</a></li>
                    </ul>
                  </li>
                  <li id="buys-menu"><a><i class="fa fa-table"></i> Ingresos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="buys-page" onclick="ipcRenderer.send('load-addBuys-window');">Cargar ingreso</a></li>
                      <li><a id="buys-history-page" onclick="ipcRenderer.send('load-buys-window')">Historial</a></li>
                      <li><a id="suppliers-page" onclick="ipcRenderer.send('load-suppliers-window');">Proveedores</a></li>
                    </ul>
                  </li>
                  <li id="stats-menu"><a><i class="fa fa-bar-chart-o"></i> Estadisticas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="stats-page" onclick="ipcRenderer.send('load-stats-page')">General</a></li>
                    </ul>
                  </li>
                  <li id="stock-menu"><a><i class="fa fa-database"></i> Productos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a id="stock-page" onclick="ipcRenderer.send('load-stock-window');">Stock de Productos</a></li>
                        <li><a id="missing-stock-page" onclick="ipcRenderer.send('load-missing-stock-window');">Faltante</a></li>                   
                    </ul>
                  </li>
                  <li id="customers-menu"><a><i class="fa fa-group"></i> Clientes <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="customers-page" onclick="ipcRenderer.send('load-customers-window');">Clientes</a></li>
                    </ul>
                  </li>
                  <li id="cashRegister-menu"><a><i class="fa fa-exchange"></i> Caja <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="cashregister-in-page" onclick="ipcRenderer.send('load-cashflowin-window'); ">Entrada de dinero</a></li>
                      <li><a id="cashregister-out-page" onclick="ipcRenderer.send('load-cashflowout-window'); ">Salida de dinero</a></li>
                      <li><a id="history-in-out-page" onclick="ipcRenderer.send('load-cashflowhistory-window'); ">Historial E/S</a></li>
                    </ul>
                  </li>
                  <li id="maintenance-menu"><a><i class="fa fa-wrench"></i> Mantenimiento <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="maintenance-page" onclick="ipcRenderer.send('load-general-window');">General</a></li>
                      <li><a id="maintenance-branch-page" onclick="ipcRenderer.send('load-branches-window');">Sucursal</a></li>
                      <li><a id="maintenance-employees-page" onclick="ipcRenderer.send('load-employees-window');">Empleados</a></li>
                      <li><a id="maintenance-users-page" onclick="ipcRenderer.send('load-users-window');">Usuarios</a></li>
                      <li><a id="maintenance-docs-page" onclick="ipcRenderer.send('load-docs-window');">Tipo de documentos</a></li>
                      <li><a id="maintenance-units-page" onclick="ipcRenderer.send('load-units-window');">Unidades de Medida</a></li>
                    </ul>
                  </li>
                  <li id="security-menu"><a><i class="fa fa-server"></i> Seguridad <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="dump-page" onclick="ipcRenderer.send('dump-database');">Copia de seguridad</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" id="settings-button-footer" title="" data-original-title="Configuraciones">
                <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" id="fullscreen-button" title="" data-original-title="F11 - Pantalla Completa">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Bloquear Pantalla">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" id="logout-button-footer" title=""  data-original-title="Cerrar Sesión">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
              </nav>
            </div>
          </div>
      </div>
</div>

<script src="../../js/viewsLoader.js"></script>