<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
    
    <!-- Bootstrap -->
    <link href="../../css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../css/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../../css/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../../css/custom.css" rel="stylesheet">

    <link rel="stylesheet" href="../../css/customES.css">
  </head>
  <body class="nav-sm">
    <div class="container body">
      <div class="main_container">
        

    {{{ body }}}


      </div>
    </div>
        
         <!-- jQuery -->
    <script src="../../js/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
   <script src="../../js/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../../js/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../../js/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../../js/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="../../js/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="../../js/Flot/jquery.flot.js"></script>
    <script src="../../js/Flot/jquery.flot.pie.js"></script>
    <script src="../../js/Flot/jquery.flot.time.js"></script>
    <script src="../../js/Flot/jquery.flot.stack.js"></script>
    <script src="../../js/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../../js/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../../js/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../../js/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../../js/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../../js/moment/min/moment.min.js"></script>
    <script src="../../js/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="../../js/footer.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="../../js/custom.min.js"></script>
            <!-- /page content -->
    <script src="../../js/dates-sells.js"></script>

    <!-- Datatables -->
    <script src="../../js/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../js/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../../js/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../../js/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../../js/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../../js/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../../js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../../js/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../../js/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../js/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../../js/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../../js/jszip/dist/jszip.min.js"></script>
    <script src="../../js/pdfmake/build/pdfmake.min.js"></script>
    <script src="../../js/pdfmake/build/vfs_fonts.js"></script>

  </body>
</html>