<title>Mercado 1990 - Proveedores</title>
 <!-- Bootstrap -->
    <link href="../../css/datatables.net/css/jquery.dataTables.min.css">
<!-- Datatables -->
    
    <link href="../../css/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../../css/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->   

<!-- page content -->
<div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Proveedores - AGREGAR</h2> <small>(Todos los campos son obligatorios)</small>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                        <div class="history-table" style="width: 100%;">
                          <div class="col-sm-12">
							  <form action="">
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Razón Social</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="text" id="name" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="form-group row">
											<label class="control-label col-md-3 col-sm-3 ">Tipo de Documento</label>
											<div class="col-md-6 col-sm-6 ">
												<select class="form-control" required="required" id="docType">
													<option>Elija...</option>
													<option>DNI</option>
													<option>Pasaporte</option>
													<option>RUC</option>
												</select>
											</div>
									</div>
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="numDoc">Número de Documento</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="number" id="numDoc" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="cuit">CUIT</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="number" id="cuit" required="required" class="form-control ">
		                            </div>
	                            </div>
                                  <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="dirProv">Provincia</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="text" id="dirProv" required="required" class="form-control ">
		                            </div>
	                            </div>
                                  <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="dirDepto">Departamento</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="text" id="dirDepto" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="postCode">Código Postal</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="number" id="postCode" required="required" class="form-control ">
		                            </div>
	                            </div>
                                  <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="city">Localidad</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="text" id="city" required="required" class="form-control ">
		                            </div>
	                            </div>
                                  <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="dirStreet">Dirección</label>
			                        <div class="col-md-6 col-sm-6">
			                        <input type="text" id="dirStreet" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="phoneNumber">Teléfono</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="number" id="phoneNumber" required="required" class="form-control ">
		                            </div>
	                            </div>
                                 <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Email</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="email" id="email" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="cbu">CBU</label>
			                        <div class="col-md-6 col-sm-6 ">
			                        <input type="number" id="cbu" required="required" class="form-control ">
		                            </div>
	                            </div>
                                <div class="ln_solid"></div>
								<div class="item form-group" style="display: flex; justify-content: center;">
										<div class="col-md-6 col-sm-9 offset-md-3">
											<button class="btn btn-danger" type="button" onclick="window.close()">Cancelar</button>
											<button class="btn btn-warning" type="reset">Reiniciar</button>
											<button type="submit" class="btn btn-success" onclick="addSupplier()">Agregar</button>
										</div>
								</div>
								</form>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
</div>
<script src="../../js/suppliersAdd.js"></script>
sc