#mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #EDEDED;
    border-top: 1px solid #D9DEE4;
    @media (min-width: 768px) {
      display: none;
    }
    
  }
  #mobile-menu {
    background: hsla(213, 48%, 69%, 0.8);
  }
  #mobile-footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .mobile-link {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
  .mobile-link a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  #mobile-footer-close {
    position: relative;
  }

  #mobile-footer-btn:focus{
    outline: 0;
  } 
  #mobile-footer-btn {
    position: absolute;
    bottom: 25px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: #959192;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    cursor: pointer;
  }
  .mobile-btn-close span,
  .mobile-btn-close span::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 18px;
    top: calc(50% - 9px);
    right: calc(50% + -2.5px);
    background-color: #fff;
    transform: rotate(-90deg);
    transition: 0.3s ease-out;
  }
  .mobile-btn-close {
    transition: 1s ease-out;
  }
  .mobile-btn-close::focus {
    transition: 1s ease-out;
  }
  .mobile-btn-close > span {
      transform: rotate(45deg);
  }

  .mobile-btn-close > span::before {
    content: "";
    transform: rotate(-90deg);
  }
  .is-rotating {
    transform: rotate(135deg);
  }
  .is-rotating-back {
    transform: rotate(-90deg);
  }
  .mobile-menu-hide {
    animation: hideFooter 10s forwards;
  }
  .mobile-menu-show {
    animation: showFooter 1s forwards;
  }
  @keyframes hideFooter {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(1000px);
      opacity: 0;
    }
  }
  @keyframes showFooter {
    0% {
      transform: translateY(300px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .division-buttons {
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  .division-data {
    padding: .5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
  }

  .label-shower {
    color: #111;
    font-size: 1rem;
  };