@font-face {
    font-family: 'Montserrat-BoldItalic';
    src: url('../fonts/Montserrat-BoldItalic.ttf'), url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a:hover{
    cursor: pointer;
}

.title-mercadito {
    font-family: 'Montserrat-BoldItalic';
}

.logo-mercadito {
    margin-left: auto;
    margin-right: auto;
    padding: .4rem 0;
    width: 3rem;
    height: 4rem;
    margin-bottom: .3rem;
}